<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    colors="true"
    stopOnFailure="false"
    bootstrap="tests/autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stderr="true">
    <testsuites>
        <testsuite name="common">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">modules</directory>
            <directory suffix=".php">WHMCS</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor/</directory>
        </exclude>
        <report>
            <html outputDirectory="phpunit-reports/html/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="phpunit-reports/html/coverage.php"/>
            <text outputFile="phpunit-reports/html/coverage.txt" showUncoveredFiles="true" showOnlySummary="true"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="phpunit-reports/logging/junit.xml"/>
        <teamcity outputFile="phpunit-reports/logging/teamcity.txt"/>
        <testdoxHtml outputFile="phpunit-reports/logging/testdox.html"/>
        <testdoxText outputFile="phpunit-reports/logging/testdox.txt"/>
        <testdoxXml outputFile="phpunit-reports/logging/testdox.xml"/>
        <text outputFile="phpunit-reports/logging/logfile.txt"/>
    </logging>
</phpunit>